<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>LTC</title>
  </head>
  <body>
    <h1>Logistic Transportation Company</h1>
    <button><a href="/planners">customer planner</a></button>
    
    <div class="formdiv">
      <form action="/addslot" method='POST'>
        <input type="date" placeholder="Enter date" min="2023-02-16" name='date'>
        <input type="number" placeholder="Enter slot_1 customer_id" name='slotNumber1'>
        <input type="number" placeholder="Enter slot_2 customer_id" name='slotNumber2'>
        <input type="number" placeholder="Enter slot_3 customer_id" name='slotNumber3'>
        <input type="number" placeholder="Enter slot_4 customer_id" name='slotNumber4'>
        <input type="submit">
      </form>
    </div>
    

      <div class="grid-container">
        <!-- customer -->
        <table>
            <thead>
              <tr>
                <th>Customer id</th>
                <th>Customer Name</th>
                <th>Pick up Location</th>
                <th>Drop off Location</td>
              </tr>
            </thead>
            <tbody>
              <% cus.forEach( el => { %>
                <tr>
                  <td><%= el.customer_id %></td>
                  <td><%= el.customer_name %></td>
                  <td><%= el.pickup_location %></td>
                  <td><%= el.dropoff_location %></td>
                </tr>
              <% }) %>  
            </tbody>
          </table>

          <!-- planner -->
    <div>
      <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>slot1</th>
              <th>slot2</th>
              <th>slot3</th>
              <th>slot4</th>
            </tr>
          </thead>
          <tbody>
            <% cus.forEach( el => { %>
              <tr>
                <td><%= el.order_date %></td>
                <td><%= el.slot_1_customer_id %></td>
                <td><%= el.slot_2_customer_id %></td>
                <td><%= el.slot_3_customer_id %></td>
                <td><%= el.slot_4_customer_id %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
    </div>
  </div>
    

    <script src="js/main.js"></script>
  </body>
  </html>
